@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
    background: #202731;
    overflow-x: hidden;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 100px 20vw;
}
.blue {
    background-color: #3c31dd;
}
.red {
    background-color: #dd3f31;
}
.pink {
    background-color: #ff0066;
}
.dark{
    background-color: #0f0f10;
}

#curve{
    position: absolute;
    height: 255px;
    width: 100%;
    bottom: 0;
    &::before{
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        background-color: #202731;
        transform: translate(85%, 60%);
        
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        background-color: #3c31dd;
        transform: translate(-4%, 40%);
    }
}

.bubble{
    &::after{
        content: "";
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        height: 85%;
        width: 100%;
        background-color: #0f0f10;
        z-index: 0;
        
    }

    h1{
        z-index: 1;
    }
    p{
        z-index: 1;
    }
}

